<div class="container">
    <form action="/analysis/create" method="post">
      <div class="form-group">
        <label for="exampleTextarea">Paste DNA here</label>
        <textarea class="form-control" name="input_dna" id="exampleTextarea" rows="13"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>å